In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("C:\\Users\\szymo\\Downloads\\elo.csv")
raw_data.head

<bound method NDFrame.head of     web-scraper-order   web-scraper-start-url  rank team  rating
0        1669147892-2  http://eloratings.net/   1.0  NaN     NaN
1        1669147892-3  http://eloratings.net/   2.0  NaN     NaN
2        1669147892-4  http://eloratings.net/   3.0  NaN     NaN
3        1669147892-5  http://eloratings.net/   4.0  NaN     NaN
4        1669147892-6  http://eloratings.net/   5.0  NaN     NaN
..                ...                     ...   ...  ...     ...
712    1669147892-714  http://eloratings.net/   NaN  NaN   528.0
713    1669147892-715  http://eloratings.net/   NaN  NaN   496.0
714    1669147892-716  http://eloratings.net/   NaN  NaN   472.0
715    1669147892-717  http://eloratings.net/   NaN  NaN   404.0
716    1669147892-718  http://eloratings.net/   NaN  NaN   403.0

[717 rows x 5 columns]>

In [3]:
size = len(raw_data[:]["web-scraper-order"]) // 3
print(size)

239

In [4]:
rank = raw_data[:size]["rank"].astype(int)
print(rank)

0        1
1        2
2        3
3        4
4        5
      ...
234    235
235    236
236    237
237    238
238    239
Name: rank, Length: 239, dtype: int32

In [5]:
team = raw_data[size:size*2]["team"]
print(team)

239               Brazil
240            Argentina
241          Netherlands
242                Spain
243              Belgium
             ...
473                Tonga
474                 Niue
475        Eastern Samoa
476    Northern Marianas
477                Palau
Name: team, Length: 239, dtype: object

In [6]:
elo = raw_data[size*2:]["rating"].astype(int)
print(elo)

478    2169
479    2086
480    2050
481    2048
482    2007
       ...
712     528
713     496
714     472
715     404
716     403
Name: rating, Length: 239, dtype: int32

In [7]:
d = {"Rank": [r for r in rank], "Team": [t for t in team], "Elo": [e for e in elo]}
df = pd.DataFrame(d)

In [8]:
print(df)

     Rank               Team   Elo
0       1             Brazil  2169
1       2          Argentina  2086
2       3        Netherlands  2050
3       4              Spain  2048
4       5            Belgium  2007
..    ...                ...   ...
234   235              Tonga   528
235   236               Niue   496
236   237      Eastern Samoa   472
237   238  Northern Marianas   404
238   239              Palau   403

[239 rows x 3 columns]

In [9]:
raw_wc_teams = pd.read_csv("C:\\Users\\szymo\\Downloads\\wiki_wc_teams.csv")
teams = [t for t in raw_wc_teams["team"]]
print(teams)

['Argentina', 'Australia', 'Belgium', 'Brazil', 'Cameroon', 'Canada', 'Costa Rica', 'Croatia', 'Denmark', 'Ecuador', 'England', 'France', 'Germany', 'Ghana', 'Iran', 'Japan', 'Mexico', 'Morocco', 'Netherlands', 'Poland', 'Portugal', 'Qatar', 'Saudi Arabia', 'Senegal', 'Serbia', 'South Korea', 'Spain', 'Switzerland', 'Tunisia', 'United States', 'Uruguay', 'Wales']

In [10]:
a = df.loc[df['Team'] == 'Wales']['Elo'].values[0]

In [11]:
print(a)

1791

In [12]:
dd = dict()
for t in teams:
    dd[t] = df.loc[df['Team'] == t]['Elo'].values[0]

In [13]:
dd['Belgium']

2007

In [14]:
# format: {id: {date: 'dd.mm', A: 'team_a', B: 'team_b', fare: (win_a, draw, win_b), result: (goals_a, goals_b)}}
# empty: games[] = {'date': '', 'A': '', 'B': '', 'fare': (), 'result': ()}
games = {1: {'date': '20.11', 'A': 'Qatar', 'B': 'Ecuador', 'fare': (3.5, 3.1, 2.3), 'result': (0, 2)}}
print(games)

{1: {'date': '20.11', 'A': 'Qatar', 'B': 'Ecuador', 'fare': (3.5, 3.1, 2.3), 'result': (0, 2)}}

In [15]:
games[2] = {'date': '21.11', 'A': 'England', 'B': 'Iran', 'fare': (1.4, 4.5, 10.0), 'result': (6, 2)}
games[3] = {'date': '21.11', 'A': 'Senegal', 'B': 'Netherlands', 'fare': (5.6, 3.6, 1.7), 'result': (0, 2)}
games[4] = {'date': '21.11', 'A': 'United States', 'B': 'Wales', 'fare': (2.5, 3.0, 3.1), 'result': (1, 1)}
games[5] = {'date': '22.11', 'A': 'Argentina', 'B': 'Saudi Arabia', 'fare': (1.1, 8.0, 25.0), 'result': (1, 2)}
games[6] = {'date': '22.11', 'A': 'Denmark', 'B': 'Tunisia', 'fare': (1.6, 3.8, 6.0), 'result': (0, 0)}
games[7] = {'date': '22.11', 'A': 'Mexico', 'B': 'Poland', 'fare': (2.6, 3.1, 3.2), 'result': (0, 0)}
games[8] = {'date': '22.11', 'A': 'France', 'B': 'Australia', 'fare': (1.2, 6.4, 14.0), 'result': (4, 1)}

In [16]:
games[9] = {'date': '23.11', 'A': 'Morocco', 'B': 'Croatia', 'fare': (3.7, 3.3, 2.1), 'result': ()}
games[10] = {'date': '23.11', 'A': 'Germany', 'B': 'Japan', 'fare': (1.45, 4.8, 7.0), 'result': ()}
games[11] = {'date': '23.11', 'A': 'Spain', 'B': 'Costa Rica', 'fare': (1.15, 7.5, 18.0), 'result': ()}
games[12] = {'date': '23.11', 'A': 'Belgium', 'B': 'Canada', 'fare': (1.55, 4.3, 6.0), 'result': ()}
games[13] = {'date': '24.11', 'A': 'Switzerland', 'B': 'Cameroon', 'fare': (1.7, 3.5, 5.0), 'result': ()}
games[14] = {'date': '24.11', 'A': 'Uruguay', 'B': 'South Korea', 'fare': (1.7, 3.5, 5.0), 'result': ()}
games[15] = {'date': '24.11', 'A': 'Portugal', 'B': 'Ghana', 'fare': (1.4, 4.7, 8.5), 'result': ()}
games[16] = {'date': '24.11', 'A': 'Brazil', 'B': 'Serbia', 'fare': (1.5, 4.5, 6.5), 'result': ()}

# next matches are in second round (!)

In [17]:
# calculation of Winning Expectancies (W_e) - http://eloratings.net/about,
# where dr - difference in ratings (dd['team_a'] - dd['team_b']), then:
# w_e = 1 / (10**(-dr/400) + 1)
g = games[1]    # Current Game
match_date = g['date']    # Date of the Game
team_a, team_b = g['A'], g['B']    # Team A, Team B
elo_a, elo_b = dd[team_a], dd[team_b]    # A's elo, B's elo
dr = elo_a - elo_b    # dr - calculate elo Difference
w_e = round(1 / (10**(-dr/400) + 1), 4)    # w_e - Winning Expectancies (rounded)
winner_percent = round(max(w_e, 1 - w_e) * 100, 2)

print(f"{match_date} : {team_a} vs {team_b}")    # show the Title
print(f"Bet fare : {g['fare'][0]} | {g['fare'][1]} | {g['fare'][2]}")

win_str = "Expected winner is"
if elo_a > elo_b:
    print(f"{win_str} : {team_a} ({elo_a}) with {winner_percent}% chance.")
else:
    print(f"{win_str} : {team_b} ({elo_b}) with {winner_percent}% chance.")
    
if len(g['result']) == 2:
    print(f"Result was : {g['result'][0]}:{g['result'][1]}")
    
print("----------------------------------------------------------------")

20.11 : Qatar vs Ecuador
Bet fare : 3.5 | 3.1 | 2.3
Expected winner is : Ecuador (1871) with 78.89% chance.
Result was : 0:2
----------------------------------------------------------------

In [18]:
def show_game(idx, bet):
    TAX = 0.12
    
    g = games[idx]    # Current Game
    match_date = g['date']    # Date of the Game
    team_a, team_b = g['A'], g['B']    # Team A, Team B
    elo_a, elo_b = dd[team_a], dd[team_b]    # A's elo, B's elo
    dr = elo_a - elo_b    # dr - calculate elo Difference
    w_e = round(1 / (10**(-dr/400) + 1), 4)    # w_e - Winning Expectancies (rounded)
    winner_percent = round(max(w_e, 1 - w_e) * 100, 2)

    print(f"Game #{idx} - {match_date} : {team_a} ({elo_a}) vs {team_b} ({elo_b})\n")    # show the Title
    print(f"  -> Bet fare : {g['fare'][0]} | {g['fare'][1]} | {g['fare'][2]}")

    win_str = "  -> Expected winner"
    if elo_a > elo_b:
        print(f"{win_str} : {team_a} ({elo_a}) with {winner_percent}% chance.")
    else:
        print(f"{win_str} : {team_b} ({elo_b}) with {winner_percent}% chance.")

    if len(g['result']) == 2:
        print(f"  -> Result : {team_a} {g['result'][0]} - {g['result'][1]} {team_b}")
        
    a = g['fare'][0]
    d = g['fare'][1]
    b = g['fare'][2]
    if min(a, d, b) >= 1.5:
        reward = round(bet * min(a, d, b) * (1 - TAX), 2)
        print(f"  -> Potential netto win from {bet}zł bet : {reward} (+{round(reward - bet, 2)})")
    else:
        print("Fare below 1.5!")

    print("\n----------------------------------------------------------------\n")

In [19]:
print("\n----------------------------------------------------------------\n")

BET = 100

for idx in games:
    show_game(idx, BET)

----------------------------------------------------------------

Game #1 - 20.11 : Qatar (1642) vs Ecuador (1871)

  -> Bet fare : 3.5 | 3.1 | 2.3
  -> Expected winner : Ecuador (1871) with 78.89% chance.
  -> Result : Qatar 0 - 2 Ecuador
  -> Potential netto win from 100zł bet : 202.4 (+102.4)

----------------------------------------------------------------

Game #2 - 21.11 : England (1957) vs Iran (1760)

  -> Bet fare : 1.4 | 4.5 | 10.0
  -> Expected winner : England (1957) with 75.66% chance.
  -> Result : England 6 - 2 Iran
Fare below 1.5!

----------------------------------------------------------------

Game #3 - 21.11 : Senegal (1677) vs Netherlands (2050)

  -> Bet fare : 5.6 | 3.6 | 1.7
  -> Expected winner : Netherlands (2050) with 89.54% chance.
  -> Result : Senegal 0 - 2 Netherlands
  -> Potential netto win from 100zł bet : 149.6 (+49.6)

----------------------------------------------------------------

Game #4 - 21.11 : United States (1797) vs Wales (1791)

  -> Bet fare : 2.5 | 3.0 | 3.1
  -> Expected winner : United States (1797) with 50.86% chance.
  -> Result : United States 1 - 1 Wales
  -> Potential netto win from 100zł bet : 220.0 (+120.0)

----------------------------------------------------------------

Game #5 - 22.11 : Argentina (2086) vs Saudi Arabia (1692)

  -> Bet fare : 1.1 | 8.0 | 25.0
  -> Expected winner : Argentina (2086) with 90.62% chance.
  -> Result : Argentina 1 - 2 Saudi Arabia
Fare below 1.5!

----------------------------------------------------------------

Game #6 - 22.11 : Denmark (1952) vs Tunisia (1726)

  -> Bet fare : 1.6 | 3.8 | 6.0
  -> Expected winner : Denmark (1952) with 78.6% chance.
  -> Result : Denmark 0 - 0 Tunisia
  -> Potential netto win from 100zł bet : 140.8 (+40.8)

----------------------------------------------------------------

Game #7 - 22.11 : Mexico (1809) vs Poland (1814)

  -> Bet fare : 2.6 | 3.1 | 3.2
  -> Expected winner : Poland (1814) with 50.72% chance.
  -> Result : Mexico 0 - 0 Poland
  -> Potential netto win from 100zł bet : 228.8 (+128.8)

----------------------------------------------------------------

Game #8 - 22.11 : France (2005) vs Australia (1719)

  -> Bet fare : 1.2 | 6.4 | 14.0
  -> Expected winner : France (2005) with 83.84% chance.
  -> Result : France 4 - 1 Australia
Fare below 1.5!

----------------------------------------------------------------

Game #9 - 23.11 : Morocco (1766) vs Croatia (1927)

  -> Bet fare : 3.7 | 3.3 | 2.1
  -> Expected winner : Croatia (1927) with 71.64% chance.
  -> Potential netto win from 100zł bet : 184.8 (+84.8)

----------------------------------------------------------------

Game #10 - 23.11 : Germany (1963) vs Japan (1787)

  -> Bet fare : 1.45 | 4.8 | 7.0
  -> Expected winner : Germany (1963) with 73.36% chance.
Fare below 1.5!

----------------------------------------------------------------

Game #11 - 23.11 : Spain (2048) vs Costa Rica (1743)

  -> Bet fare : 1.15 | 7.5 | 18.0
  -> Expected winner : Spain (2048) with 85.27% chance.
Fare below 1.5!

----------------------------------------------------------------

Game #12 - 23.11 : Belgium (2007) vs Canada (1776)

  -> Bet fare : 1.55 | 4.3 | 6.0
  -> Expected winner : Belgium (2007) with 79.08% chance.
  -> Potential netto win from 100zł bet : 136.4 (+36.4)

----------------------------------------------------------------

Game #13 - 24.11 : Switzerland (1902) vs Cameroon (1610)

  -> Bet fare : 1.7 | 3.5 | 5.0
  -> Expected winner : Switzerland (1902) with 84.3% chance.
  -> Potential netto win from 100zł bet : 149.6 (+49.6)

----------------------------------------------------------------

Game #14 - 24.11 : Uruguay (1936) vs South Korea (1786)

  -> Bet fare : 1.7 | 3.5 | 5.0
  -> Expected winner : Uruguay (1936) with 70.34% chance.
  -> Potential netto win from 100zł bet : 149.6 (+49.6)

----------------------------------------------------------------

Game #15 - 24.11 : Portugal (2006) vs Ghana (1567)

  -> Bet fare : 1.4 | 4.7 | 8.5
  -> Expected winner : Portugal (2006) with 92.6% chance.
Fare below 1.5!

----------------------------------------------------------------

Game #16 - 24.11 : Brazil (2169) vs Serbia (1898)

  -> Bet fare : 1.5 | 4.5 | 6.5
  -> Expected winner : Brazil (2169) with 82.64% chance.
  -> Potential netto win from 100zł bet : 132.0 (+32.0)

----------------------------------------------------------------

In [194]:
# DODAĆ WARUNEK, ŻEBY TEŻ WYBIERAĆ OBSTAWIANIE REMISU (!)